[Unit]
Description=Customised Analog pH Driver for reef-pi v1.0
After=network.target

[Service]
ExecStart=/var/lib/reef-pi/pH/pH_fetch_data
WorkingDirectory=/var/lib/reef-pi/pH/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=4

[Install]
WantedBy=multi-user.target
